In [2]:
import pandas as pd

In [3]:
df_aniview = pd.read_csv('av-data.csv', skiprows=5)

In [4]:
df_aniview.groupby(['Revenue']).sum()

           Impression
Revenue
0.0000            504
0.0082              4
0.3280             82
2.3000            707
2.9595            706
4.3235           1136
5.0073           1824
5.2454           1393
13.1931          3273
14.3888          4688
18.7417          5133
34.1407          8707
37.8610         12952
50.0122         18406
50.2380          7725
56.4002         15532
70.5082         24965
103.2185        26280
178.7591        47319
235.5447        25255
295.5668        84514
404.1143        90602
1168.9630      323731